<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos DSI-DIS-RG</title>
    <link ng-href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" type="text/css" rel="stylesheet">
    <style>
        * {
            margin: 0;
        }

        .div-graficos {           
        }

        .tab-graficos {
            width: 100%;        
        }

        .tab-graficos td {
            width: 33%;
            padding: 10px;
            border: solid #70AD47 1.0pt;
        }     
    </style>
</head>
<div class="div-container">  
    <div class="div-graficos">
        <table class="tab-graficos">
            <tr>
                <td>
                    <canvas id="GraficoTicketsPorOrigem"></canvas>
                </td>
                <td>
                    <canvas id="GraficoDiasPorRecurso"></canvas>
                </td>
                <td>
                    <canvas id="GraficoTicketsPorRecurso"></canvas>
                </td>
            </tr>
        </table>
    </div>
</div>